{* Latte template *}

{block content}
        
<div id="hide">
{control car}
{control carsPeopleForm}
{control carsCrashesForm}
{control carsWheelsForm}
{control carsRepairsForm}
{control carsCardsForm}
</div>
