{* Latte template *}

{block content}
        
<button class="btn btn-theme" type="submit" onclick="hideFunction()" style="margin-top: 10px;">Přidat auto</button>
<div id="hide">
{control carsForm}
</div>
{control cars}